.navbar{
    display: flex;
    flex-direction: row;
}

.navitem{
    text-decoration: none;
    color: #988C8C;
    font-family: Italiana;
    font-size: 25pt;
    padding-left: 80px;
    transition: 0.5s;
}

.navitem:hover {color: white}

@media (max-width: 1030px){
    .navitem{
        font-size: 20pt;
    }
}

@media (max-width: 780px){
    .navbar{
        flex-direction: column;
    }
}