.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop{
  position: fixed;
  background-color: #CECECE;
  padding-top: 100%;
  padding-right: 100%;
  z-index: -3;
  color: rgba(255, 255, 255, 0);
}

.frame{
  position: fixed;
  background-color: white;
  padding-top: 100%;
  padding-right: 50%;
  z-index: -1;
  color: rgba(255, 255, 255, 0);
}

.nav{
  position: fixed;
  padding-left: 70%;
}

@media (max-width: 780px){
  .backdrop{
    display: none;
  }

  .nav{
    right: 5%;
  }
}